@charset "utf-8";
/* CSS Document */
.head{
	height: 100px;
}
.logo{
	float: left;
	vertical-align: middle;
}
.logo img{
	height: 100px;
	width: 300px;
}
.search{
	float: left;
	margin-top:30px;
	margin-left: 40px;

}
.btn-group{

	margin-top: 30px;
	align-items: center;
	float: right;
}
.nav-item{
	opacity: 1;
}
.nav-link {
	color: black;
	opacity: 1;
	border-right: groove;
}

/*SliedeShow
.carousel-indicators li{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 
  background-color:;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*Tabs Carousel*/
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/*----------------Card image--------------*/
.card{
	cursor: pointer;
}
.card:hover img{
	filter: brightness(60%);
}
.card-img-overlay{
	opacity: 0;
	margin-top: 50%;
	
}
.card:hover .card-img-overlay{
	opacity: 1;
}
#btncard{
	background-color: transparent;
	border-radius: 0px;
	border-color: white;
}
#btncard:hover{
	background-color:green;
}
.card-text{
	padding: 5px;
	text-align: center;
	font-weight: bold;
}
.carousel-control-prev{
	width: 20px;
}
.carousel-control-next{
	width: 20px;
}
.carousel-control-prev-icon{
	background-color:blue;
}
.carousel-control-next-icon{
	background-color:;
}
